# env vars
SRC="$HOME/src"


JAVA_HOME="/usr/lib/jvm/java-7-openjdk-amd64/jre"
PYENV_ROOT="$HOME/.pyenv"
GOROOT="$HOME/go"


NPM_CONFIG_PREFIX="$HOME/.npm-global"
NODE_PATH="$NPM_CONFIG_PREFIX/lib/node_modules"
SASS_LIBSASS_PATH="$HOME/.libsass"
SASS_SASSC_PATH="$HOME/.sassc"
SASS_SPEC_PATH="$HOME/.sass-spec"
LESSC="$NODE_PATH/less/bin"


EMACS="emacsclient -qa"
EDITOR="$EMACS"
VISUAL=vim
PAGER=less
LESS=FRmeiX

# brew
export PATH="$HOME/.linuxbrew/bin:$PATH"
export MANPATH="$HOME/.linuxbrew/share/man:$MANPATH"
export INFOPATH="$HOME/.linuxbrew/share/info:$INFOPATH"
